body {
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: white;
    overflow:hidden;
}

a {
    color: #125d
}

.topbar > .title {
    width: 230px;
}

.topbar {
    padding: 0.5rem;
    display: flex;
   align-items: center;
    background-color: rgb(112, 112, 112);
}

.topbar > p {
    text-align: right;
    width: 90vw
}

.sidebar {
    width: 7vh;
    height: 100vh;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(112, 112, 112);
    position: relative;
}

.page {
    position: absolute;
    height:100%;
    width:100%;
    margin-left: 7rem;
    width: calc(100vw - 7vh)
    overflow-wrap: break-word;
}

